@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-100-normal.woff2') format('woff2'), url('../fonts/roboto-100-normal.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: var(--font-display-roboto, var(--font-display, swap));
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-300-normal.woff2') format('woff2'), url('../fonts/roboto-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: var(--font-display-roboto, var(--font-display, swap));
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-400-normal.woff2') format('woff2'), url('../fonts/roboto-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: var(--font-display-roboto, var(--font-display, swap));
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-500-normal.woff2') format('woff2'), url('../fonts/roboto-500-normal.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: var(--font-display-roboto, var(--font-display, swap));
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-700-normal.woff2') format('woff2'), url('../fonts/roboto-700-normal.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: var(--font-display-roboto, var(--font-display, swap));
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-900-normal.woff2') format('woff2'), url('../fonts/roboto-900-normal.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: var(--font-display-roboto, var(--font-display, swap));
}
