@import "scss/variables.scss";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-700-italic.woff2') format('woff2'), url('../fonts/roboto-700-italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: $font-display-roboto;
}
