@import "scss/variables";

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-900.woff2') format('woff2'), url('../fonts/roboto-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: $font-display-roboto;
}
